// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://niri-wm.github.io/niri/Configuration:-Introduction

include "input.kdl"
include "output.kdl"
include "layout.kdl"
include "animations.kdl"
include "gestures.kdl"
include "rules.kdl"
include "binds.kdl"
include "recent_windows.kdl"

// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.


// Startup applications
spawn-at-startup "ironbar"
//spawn-at-startup "swaybar"
spawn-at-startup "kitty"
//spawn-at-startup "awww-daemon"


// startup cli commands
//spawn-sh-at-startup "sleep 1 && awww img ~/Pictures/Wallpapers/wallpaper.jpg"
spawn-sh-at-startup "swaybg -m center -i ~/Pictures/Wallpapers/wallpaper.jpg"

// Ask applications to omit client-side decorators
prefer-no-csd


// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot_%Y-%m-%d_%H-%M-%S.png"


// do not show the hotkeys at startup
hotkey-overlay {
    skip-at-startup
}


// tool to run xorg applications
xwayland-satellite {
    path "xwayland-satellite"
}


cursor {
    hide-when-typing
    xcursor-size 28
}

animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    slowdown 0.8
}

overview {
    zoom 0.4
    workspace-shadow {
        off
    }
}

