

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r"firefox$"
    default-column-width { proportion 0.8; }
}

window-rule {
    match title="^Midnight Commander$"
    //default-column-width { proportion 1.0 ; }
    open-maximized true
}

window-rule {
    match app-id="^Alacritty$"
    match app-id="^kitty$"
    
    opacity 0.8
}

window-rule {
    match title="^Steam$"

    open-maximized true
}

window-rule {
    match app-id="dev.zed.Zed"
    default-column-width { proportion 0.8; }
}

layer-rule {
    match namespace="^ironbar$"
    opacity 0.85
}

layer-rule {
    match namespace="^awww-daemon$"
    match namespace="^wallpaper$"

    place-within-backdrop true
    //opacity 0.75
}

